.work{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 50px;
    color: white;
    text-align: center;
}
.worlDetails{
    display: flex;
    justify-content: center;
    align-items: center;
}